/* sidebar */

#sidebarMenu {
    background-color: var(--primary-color);
}

#sidebarMenu a {
    color: var(--light-color);
    transition: background-color 0.3s;
}

#sidebarMenu a:hover {
    background-color: var(--contrast-color);
    color: var(--light-color);
}
