/* sidebar */

#sidebarMenu {
    background-color: var(--primary-color);
}

#sidebarMenu a {
    color: var(--light-color);
    transition: background-color 0.3s;
}

#sidebarMenu a:hover {
    background-color: var(--contrast-color);
    color: var(--light-color);
}

#header {
    background-color: var(--primary-color);
    width: 100%;
}

/* logo */
.logo {
    width: 65px;
    height: 65px;
}

.logo img {
    width: 100%;
}
/* navbar */
.navbar-link ul {
    list-style: none;
    padding-left: 0;
}
