/* sidebar */

#sidebarMenu {
    background-color: #fff3e2;
    background-image: url(../img/wind-rose-2.png);
    background-position: center bottom 40px;
    background-repeat: no-repeat;
    background-size: 80% auto;
    border-right: 1px solid #ccc;
}

#sidebarMenu a {
    color: var(--primary-color);
    transition: background-color 0.3s;
}

#sidebarMenu a:hover {
    background-color: #ffeacf;
    color: var(--contrast-color);
}

@media screen and (max-width: 768px) {
    #show-sidebar-mobile-btn {
        background-color: #fff3e2;
        z-index: 3;
        position: relative !important;
        padding: 10px 0;
    }

    .panel-title::before {
        content: "GM Menu";
    }

    button.collapsed .panel-title::after {
        font-family: "FontAwesome";
        content: "\f107";
        margin-left: 5px;
    }

    .panel-title::after {
        font-family: "FontAwesome";
        content: "\f106";
        margin-left: 5px;
    }

    #sidebarMenu .sidebarMenuBox {
        padding-top: 0 !important;
    }

    main {
        padding-top: 20px;
        border-top: 1px solid lightgray;
    }
}

/* HEADER */
.header {
    background-color: var(--primary-color);
    width: 100%;
}

/* logo */
header .logo {
    width: 85px;
    height: 85px;
}

.logo img {
    width: 100%;
}

/* navbar */

.items:hover {
    background-color: var(--primary-color);
    filter: brightness(1.4);
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: white !important;
    cursor: pointer;
}

#header-button {
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px solid var(--light-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

#header-button:hover {
    background-color: var(--contrast-color);
    color: var(--light-color);
    border-color: var(--contrast-color);
}
