/* card styles */

.card {
    overflow: hidden;
}

#login-card {
    box-shadow: 0 0 1px 0 var(--primary-color);
    margin-top: 50px;
    margin-bottom: 200px;
}

#login-card-header {
    background-color: var(--light-color-card);
    color: var(--primary-color);
}

#login-card-body {
    background-color: var(--light-color-card);
    color: var(--primary-color);
}
/* forgot password link */

#forgot-psw {
    color: var(--contrast-color);
    transition: color 0.3s;
}
