.container {
    background-color: var(--light-color);
}

.card {
    overflow: hidden;
}

#login-card {
    box-shadow: 0 0 1px 0 var(--primary-color);
}

#login-card-header {
    background-color: #fff8ee;
    color: var(--primary-color);
}

#login-card-body {
    background-color: #fff8ee;
    color: var(--primary-color);
}

/* login card button */

.login-button {
    background-color: transparent;
    color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* login button hover */

.login-button:hover {
    background-color: var(--contrast-color);
    color: #0b1a29;
    border-color: var(--contrast-color);
}

/* // Color variables

$primary-color: #0b1a29;
$secondary-color: #5d1f04;
$contrast-color: var(--contrast-color
$light-color: #fffbf5;
$dark-color: #0f0905; */
