/* card styles */

.card {
    overflow: hidden;
}

#login-card {
    box-shadow: 0 0 1px 0 var(--primary-color);
    margin-top: 50px;
    margin-bottom: 200px;
}

#login-card-header {
    background-color: var(--light-color-card);
    color: var(--primary-color);
}

#login-card-body {
    background-color: var(--light-color-card);
    color: var(--primary-color);
}

/* inputs */

#email:focus,
#password:focus,
#remember:focus {
    border-color: var(--contrast-color);
    box-shadow: 0 0 0 0.25rem rgba(230, 122, 0, 0.25);
}

#remember:checked {
    background-color: var(--contrast-color);
}

/* login card button */

#login-button {
    background-color: transparent;
    color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* login button hover */

#login-button:hover {
    background-color: var(--contrast-color);
    color: var(--light-color);
    border-color: var(--contrast-color);
}

/* forgot password link */

#forgot-psw {
    color: var(--contrast-color);
    transition: color 0.3s;
}
