/* card styles */

.card {
    overflow: hidden;
}

#register-card {
    box-shadow: 0 0 1px 0 var(--primary-color);
    margin-top: 50px;
    margin-bottom: 200px;
}

#register-card-header {
    background-color: var(--light-color-card);
    color: var(--primary-color);
}

#register-card-body {
    background-color: var(--light-color-card);
    color: var(--primary-color);
}
