/*JUMBO*/
.container-jumbo {
    background-image: url(../img/jumbotron-image.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/*LOGO*/
.img {
    width: 450px;
    height: 350px;
}

/*TITLE*/
.container-title {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
