@import "~bootstrap/scss/bootstrap";

// Custom styles variables
:root {
    --primary-color: #0b1a29;
    --secondary-color: #5d1f04;
    --contrast-color: #e67a00;
    --light-color: #fffbf5;
    --dark-color: #0f0905;
    --light-color-card: #fff8ee;
    --danger-color: #ff4836;
}

#app {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// HEADER STYLES

#header {
    height: 85px;
}

#header-button {
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px solid var(--light-color);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

#header-button:hover {
    background-color: var(--contrast-color);
    color: var(--light-color);
    border-color: var(--contrast-color);
}

/* MAIN */

#main {
    flex-grow: 1;
}

#dashboard-container {
    height: calc(100vh - 85px - 260px);
}

/* FOOTER */

/* FOOTER TOP */
#footer {
    background-color: var(--primary-color);
    padding: 10px 0;
    width: 100%;
    color: var(--light-color);
    margin-top: auto;
    height: 260px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    color: var(--contrast-color);
}

#footer ul {
    list-style: none;
    padding-left: 0;
}

#email .email {
    background-color: var(--light-color);
}

.button button {
    background-color: var(--contrast-color);
    color: black;
}

.button button:hover {
    background-color: var(--contrast-color);
}

footer hr {
    border: 1px solid white;
    margin-top: 0;
}

/* FOOTER BOTTOM */
#button button {
    background-color: var(--contrast-color);
    border: none;
    color: black;
}

#button button:hover {
    color: white;
}

#button button:hover {
    background-color: var(--contrast-color);
}

#footer-button {
    background-color: var(--contrast-color);
    color: var(--light-color);
    border: 1px solid var(--contrast-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#footer-button:hover {
    background-color: var(--light-color);
    color: var(--contrast-color);
    border-color: var(--contrast-color);
}

.required::after {
    content: " *";
    color: var(--danger-color);
}

#newsletter {
    margin-left: 150px;
}
