@import "~bootstrap/scss/bootstrap";

// Custom styles variables
:root {
    --primary-color: #0b1a29;
    --secondary-color: #5d1f04;
    --contrast-color: #e67a00;
    --light-color: #fffbf5;
    --dark-color: #0f0905;
    --light-color-card: #fff8ee;
    --danger-color: #ff4836;
}

#app {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.required::after {
    content: " *";
    color: var(--danger-color);
}